@charset "UTF-8";
:root {
  --padding-inline--tablet: 30px;
  --padding-inline--desktop: 60px;
}

/* ================= TABLET (768px+) ================= */
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: var(--padding-inline--tablet);
  }
  header h1 {
    font-size: 1.7em;
  }
  header nav ul {
    gap: 20px;
    display: flex;
  }

  main section.home {
 
    padding-inline: var(--padding-inline--tablet);
    height: 100dvh;
    align-items: center;
  }

 
  

  main section.home button:hover {
    transform: translateY(-2px);
    color: white;
  }
  main .home .ver-projeto::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: var(--cor-p);
    transition: width 0.4s ease;
    z-index: -1;
  }
  main .home .ver-projeto:hover::before {
    width: 100%;
    right: auto;
    left: 0;
  }
  main .home .entra-contato::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--cor-p);
    transition: width 0.4s ease;
    z-index: -1;
  }
  main .home .entra-contato:hover::before {
    width: 100%;
  }
  /* main section.home .home-img {
    width: 35%;
    height: auto;
    aspect-ratio: 1/1;
    max-width: 400px;
    transform: translateY(-10px);
  } */
  main .sobre {
    padding-inline: var(--padding-inline--tablet);
  }
}

/* ================= TABLET LANDSCAPE/DESKTOP PEQUENO (992px+) ================= */
@media screen and (min-width: 992px) {
  header {
    padding-inline: var(--padding-inline--desktop);
  }
  header h1 {
    font-size: 2.5em;
  }
  header nav ul {
    gap: 40px;
  }
  header nav ul li a {
    font-size: 1.2em;
  }
  main section.home {
    padding-inline: var(--padding-inline--desktop);
  }
  main section.home .home-texto {
    font-size: 1.2em;
  }
  main section.home .home-img {
    max-width: 600px;
  }
  section.sobre {
    padding-inline:100px ;
  }
  section.sobre h2 {
    margin-bottom: 40px;
  }
  .sobre .sobre-texto {
    font-size: 1em;
    margin-bottom: 40px;
  }
  
  section.sobre img {
    display: block;
    width: 43%;
    margin-right: 50px;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.245);; 
    border-radius: 8px;
  }
}

/* ================= DESKTOP (1200px+) ================= */
@media screen and (min-width: 1200px) {
  /* Exemplo: Limitar largura máxima do conteúdo */
}
