@charset 'UTF-8';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cor-p: #0ea5e9;
  --cor-letra: #333333;
  --padding-inline: 20px;
  
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  padding-block: 10px ;
  padding-inline: var(--padding-inline);
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
header h1 {
  font-size: 1em;
}
.header-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.hamburger {
  border: none;
  background: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
  border-top: 3px solid #000000;
}
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: var(--cor-letra);
}
header nav ul {
  display: none;
  padding: 15px 0px;
  text-align: end;
}
header nav ul.active {
  display: block;
}

header nav ul li {
  list-style: none;
  margin-block: 25px;
}
header nav ul li a {
  padding: 5px 0px;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
  border-bottom: 1.5px solid transparent;
}
header nav ul li a:hover {
  color: var(--cor-p);
  border-bottom: 1.5px solid var(--cor-p);
}

main section.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  margin-bottom:40px ;
  padding-inline: var(--padding-inline);
}
main .home .home-img {
  margin-block: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #f7f7f7;
  background: url(../img/foto\ perfil.jpg) no-repeat center center;
  background-size: cover;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
main .home .home-texto {
  text-align: center;
}
main section.home p span {
  color: var(--cor-p);
}
main section.home h2 {
  color: rgba(112, 111, 111, 0.456);
  margin-block: 10px;
}
main section.home .button-home {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-block: 15px;
}
main section.home button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  background-color: transparent;
  border: 1px solid var(--cor-p);
  color: var(--cor-p);

  position: relative;
  overflow: hidden;
  z-index: 1;
}
main section.home button:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 61, 86, 0.1);
  border-radius: 6px;
}
main section.home button:active {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main section.home button:hover {
 
  box-shadow: 0 6px 8px #0ea4e979;
}

main .sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-block: 80px;
  
  
  background: #f1f0fb;
  text-align: center;

  padding-inline: var(--padding-inline);
}
main .sobre h2 {
  border-bottom: 4px solid var(--cor-p);
  display: inline-block;
  font-size: 1.2em;
  padding: 8px 0px;
  color: var(--cor-letra);
}
main .sobre .sobre-texto {
  margin-block: 30px;
  width: 100%;
  text-align: justify;
  font-size: 1.2em;
  color: var(--cor-letra);
}

main .sobre img {
   display: none;
}
