@charset "UTF-8";

:root {
    --cor-primaria: #5363D0;
    --cor-secundaria: #A3C5FB;
    --cor-terciaria: #00E668;
    --cor-texto: #333333;
    --cor-fundo: #FFFFFF;
    --cor-input: #6A0572;
    --cor-fundo-grande: linear-gradient(180deg, #1a1a2e, #16213e);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(180deg, rgba(0, 174, 255, 0.00) 0%, rgba(255, 0, 251, 0.20) 100%), var(--cor-primaria);
    position: relative;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    background: var(--cor-fundo);
    width: 250px;
    height: 530px;
    transition: width 0.3s, height 0.3s ease;
}

#imagem {
    background: url("../img/login.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
}

#formulario h1 {
    text-align: center;
    color: var(--cor-texto);
}

#formulario p {
    text-align: justify;
    margin: 6px 10px;
    color: var(--cor-texto);
}

.campo {
    width: 92%;
    margin: 8px 10px;
    padding: 1px 3px;
    background: var(--cor-input);
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.campo input {
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 30px;
}

span {
    color: white;
    margin: 5px;
}

#botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#botao input, 
#botao a {
    width: 92%;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botao input {
    background: var(--cor-terciaria);
    color: white;
    border: none;
    cursor: pointer;
}

#botao a {
    color: var(--cor-terciaria);
    background: white;
    border: 1px solid var(--cor-terciaria);
    text-decoration: none;
}

#botao a .material-symbols-outlined {
    color: var(--cor-terciaria);
}

#botao input:hover, 
#botao a:hover {
    opacity: 0.8;
}